.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

body {

}

.main-menu {
  background-color: lightgray;
  padding: 20px;
}

.input-group {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
  text-align: left;
  margin: 0 auto;
}

.input-group label {
  display: block;
}

.input-group .text-box {
  border: 1px solid black;
}
.input-group .text-box.is-invalid {
  border: 1px solid red;
}

.input-group .error-message {
  display: none;
  color: red;
}
.input-group .error-message.is-invalid {
  display: block;
}

.input-group .validated-flag {
  color: green;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin-left: 4px;
  visibility: hidden;
}
.input-group .validated-flag.is-valid {
  visibility: visible;
}

.radio-group {

}
.radio-group .radio-input {
  display: inline-block;
}

.form-group {
  margin: 0 auto;
  padding: 8px;
  width: 260px;
}
.footer {
  background-color: lightslategray;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
